.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.container  h3{
   color: #D94952;

}

.search__input {
    display: flex; 
    gap: 2rem;
}

.search__input button {
        padding: 10px 60px;
        background-color: #D94952 ;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 400ms ease-in all;
}
.search__input  input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: white;
}

.search__input button:hover {
    background-color:#d81c29;
} 


.search__google {
    background: none;
    padding: 1.5rem 4rem;
    border-radius: 5%;
    border: white solid 0.5px;
}