.wrapper{
    width: 100%;
    height: 30rem;
    position: relative;
    top: auto;
    
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.container video {
    width: 100%;
    height: 70%;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    font-size:20px;
    font-weight: 900;
}