.nav{
        width: 100%;
}

.ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin-top: 1.5rem;
}

.ul span:nth-child(1) li {
   margin: 0 3rem;
}

.ul span:nth-child(2)  {
    display: flex;
    margin-left: 7rem ;
 }

.ul span:nth-child(2) li {
    margin: 0 1.5rem;
 }